@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-size: 100%;
    user-select: none !important;
}

body {
    overflow-y: hidden !important;
}

button > svg {
    color: #19679D !important;
}

.active {
    background-color: #278ed5 !important;
    color: #f2f2f2 !important;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(234, 70, 70, 0);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #19679D;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2776ab;
}

.searchbar {
    padding: 0 !important;
    border-radius: 10px;
}

.searchbar > div > svg {
    color: #a4a4a4 !important;
    display: none;
}

.searchbar > div > input {
    width: 6rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #19679D !important;
    outline: none !important;
    border: none !important;
}

.searchbar > div > input:hover, .searchbar > div > input:focus-within {
    outline: none !important;
    border: none !important;
}

.MuiDataGrid-cell:focus-within, .MuiDataGrid-cell:focus {
    outline: none !important;
}

@media screen and (min-width: 1024px) {
    .searchbar > div > input {
        width: 20rem;
    }
}

/*mainSearch ///////////////////////////////////////*/

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 18px 16px;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.input::placeholder {
    color: transparent;
}

.input:focus::placeholder {
    color: rgb(131, 128, 128);
}

.input:focus, .input:not(:placeholder-shown) {
    background-color: transparent;
    border: 1px solid #19679D;
    width: 250px;
    cursor: none;
    padding: 18px 16px 18px 40px;
}

.icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border-radius: 10px;
    z-index: -1;
    fill: #19679D;
    border: 1px solid #19679D;
}

.input:hover + .icon {
    transform: rotate(360deg);
    transition: .2s ease-in-out;
}

.input:focus + .icon, .input:not(:placeholder-shown) + .icon {
    z-index: 0;
    background-color: transparent;
    border: none;
}
